@charset "utf-8";
/* CSS Document */


body{
    background-color:#111; 
}

a{
    color:#DDD;
    text-align: center;
}
p{
    color:white;
    font-family: cursive;   
}
textarea{
    font-family: cursive;
}
nav{
    background-color: #222;
}
h2{
    text-align: center;
    color: #FFF;
}
.active{
    background-color: #555;
}
.sidebar{
    height: 81%;
     background-color:black;
     height:inherit;
}
.table{
    color:white;
    background-color: black; 
    width: inherit;
}
.content{
    background-color: rgb(25,25,25);
}
.book{
    background-color: black;
    display: inline-block;
    padding: 20;
    margin: 20 20 20 20;
}
.scrollable{
    height: 81%;
    overflow: auto;
}
.bk{
    height:39%;
}
.box {
     display:none;
     position: absolute;
     top: 30px; 
     left: 10px;
    background: orange;
    padding: 5px;
    border: 1px solid black;
}
::-webkit-scrollbar {
    width: 9px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FFF; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
#profilePic{
    height: auto;
    width: auto;
}
#greeting{
    text-align: center;
}
    
